img {
  width: 170px;
  height: 100px;
}

h1 {
  color: #D66045;
  font-family: arial;
}

h2 {
  color: #D66045;
  font-family: arial;
}

button {
  background-color: #C26B13;
}

p {
  color: #C26B13;
  font-family: arial;
}

body {
  background-color: #FADBD4;
}
